.comment {
  margin-top: 16px;
}

.commentInfo {
  img {
    margin-right: 10px;
    width: 70px;
    object-fit: cover;
    object-position: center;
  }
}

.text {

}

.replyBtn {
  cursor: pointer;
  margin-right: 10px;

}